/* Custom styles */
body {
  background-color: #000000;
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack child elements vertically */
  min-height: 100vh; /* Ensure body covers the full viewport height */
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(0, 0, 0);
}

#timer {
  font-size: 10em;
  color: white;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center; /* Center text within the timer div */
}

.btn {
  font-size: 1rem;
  padding: 5px 10px;
  margin: 2px;
}

.red-text { 
  color: red;
}

.blink-text {
  animation: blinker 1s linear infinite; 
}

@keyframes blinker {
  50% {
    opacity: 1;
  }
}

.btn-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Fullscreen adjustments for timer */
#timer:-webkit-full-screen,
#timer:-moz-full-screen,
#timer:fullscreen {
  font-size: 15vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header Styles */
header {
  background-color: #000000;
  padding: 10px 0;
  color: white;
}

header img {
  max-height: 250px;
  width: auto;
}

/* Footer Styles */
footer {
  background-color: #000000;
  padding: 10px 0;
  color: white;
  width: 100%;
  margin-top: auto; /* Push the footer to the bottom */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  #timer {
    font-size: 3em;
  }

  .container {
    margin-bottom: 80px;
  }

  header img {
    max-width: 70%;
  }
}
