/* Custom styles */
body {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  margin: 0;
}
button {
  display: inline-block; /* Applies to all <button> elements */
  padding: 5px 10px; /* Adjust padding as needed */
  /* Other styling rules */
}

.card.my-2 {
  background-color: black;
  color: white; /* Set text color to white */
  /* Add any other styling you want */
}
.falling-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: auto;
  height: auto;
  z-index: 9999;
  animation: growAndShrink 10s forwards;
}
#defaultTimerValue {
  width: 65px; /* Adjust the width as needed */
  padding: 5px; /* Optional: Adjust padding for better text visibility */
  font-size: 14px; /* Optional: Adjust font size if necessary */
  display: block; /* Makes the element a block-level element */
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: auto;
  margin: 0 auto;
  padding: 5px;
}

/* Container Layout */
.container-fluid {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.btn-slim {
  padding: 5px 10px; /* Minimal padding for a slimmer appearance */
  width: auto; /* Adjusts the width to the content of the button */
  display: inline-block; /* Allows the button to shrink/grow according to content */
}



.btn-slim {
  padding: 5px 5px; /* Smaller padding to make the button slimmer */
  width: auto;
  display: inline-block; /* Allows the button to shrink/grow according to content */
  font-size: 14px; /* Adjust the font size as needed */
  /* Add any other styles you want for your slim button */
}

.settings-menu {
  border: 1px solid #000000;
  padding: 15px;
  margin-bottom: 15px;
  color: white;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  gap: 10px;
}
/* Target the label and select elements inside #settingsMenu and align them to the left */
#settingsMenu label,
#settingsMenu select {
    text-align: left;
}
#settingsMenu label[for="alarmSoundSelector"] {
  text-align: left; /* Align the label text to the left */
}

/* Target the select element for "Select Audio Reminder" */
#settingsMenu #alarmSoundSelector {
  text-align: left; /* Align the select element to the left */
}
#settingsButton {
  background-color: #4a4a4a;
  color: white; /* Ensuring the text is readable on a black background */
  border: none; /* Optional: removes the default border */
}

#card {
  border: none;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  background-color: #000000;
}

#timer {
  font-size: 20em;
  color: white;
  margin-top: 0px;
  padding: 0px 0;
  text-align: center;
}

.btn {
  font-size: 1rem;
  padding: 5px 10px;
  margin: 2px;
}

.red-text { 
  color: red !important;
}

.blink-text {
  animation: blinker 1s linear infinite !important; 
}

@keyframes blinker {
  50% {
    opacity: 1 !important;
  }
}

.btn-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.white-text {
  color: white; /* Sets the text color to white */
}

/* Fullscreen specific adjustments */
#fullscreen-container:-webkit-full-screen,
#fullscreen-container:-moz-full-screen,
#fullscreen-container:fullscreen {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100vw;
  height: 100vh;
}
.white-text-table {
  color: white; /* Sets the text color to white */
}
.table td, .table th {
  border-top: none; /* Removes the top border of table cells */
}

.table {
  border-collapse: collapse; /* Optional: For cleaner look with no spacing */
}


#timer-container:-webkit-full-screen,
#timer-container:-moz-full-screen,
#timer-container:fullscreen {
  flex-basis: 50%;
  text-align: center;
}

#lap-records-container:-webkit-full-screen,
#lap-records-container:-moz-full-screen,
#lap-records-container:fullscreen {
  flex-basis: 50%;
  max-height: 100vh;
  overflow-y: auto;
  background-color: black;
  color: white;
}

/* Header Styles */
header {
  background-color: #000000;
  padding: 5px 0;
  color: white;
}

header img {
  max-height: 250px;
  width: auto;
}

/* Footer Styles */
footer {
  position: fixed;
  background-color: #000000;
  padding: 5px 0;
  color: white;
  width: 100%;
  height: 75px; /* Adjust the height as per your requirement */

}

/* Responsive adjustments */
@media (max-width: 768px) {
  #fullscreen-container {
    flex-direction: column;
    align-items: center;
  }

  #timer-container, #lap-records-container {
    flex-basis: 100%;
  }

  #timer {
    font-size: 3em;
  }

  .container {
    margin-bottom: 80px;
  }

  header img {
    max-width: 70%;
  }
}
