/* Custom styles */
body {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.falling-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: auto;
  height: auto;
  z-index: 9999;
  animation: growAndShrink 10s forwards;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Container Layout */
.container-fluid {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.card {
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(55, 212, 229);
}

#timer {
  font-size: 10em;
  color: white;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

.btn {
  font-size: 1rem;
  padding: 5px 10px;
  margin: 2px;
}

.red-text { 
  color: red !important;
}

.blink-text {
  animation: blinker 1s linear infinite !important; 
}

@keyframes blinker {
  50% {
    opacity: 1 !important;
  }
}

.btn-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Fullscreen specific adjustments */
#fullscreen-container:-webkit-full-screen,
#fullscreen-container:-moz-full-screen,
#fullscreen-container:fullscreen {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100vw;
  height: 100vh;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#timer-container:-webkit-full-screen,
#timer-container:-moz-full-screen,
#timer-container:fullscreen {
  flex-basis: 50%;
  text-align: center;
}

#lap-records-container:-webkit-full-screen,
#lap-records-container:-moz-full-screen,
#lap-records-container:fullscreen {
  flex-basis: 50%;
  max-height: 100vh;
  overflow-y: auto;
  background-color: black;
  color: white;
}

/* Header Styles */
header {
  background-color: #000000;
  padding: 10px 0;
  color: white;
}

header img {
  max-height: 250px;
  width: auto;
}

/* Footer Styles */
footer {
  background-color: #000000;
  padding: 10px 0;
  color: white;
  width: 100%;
  margin-top: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  #fullscreen-container {
    flex-direction: column;
    align-items: center;
  }

  #timer-container, #lap-records-container {
    flex-basis: 100%;
  }

  #timer {
    font-size: 3em;
  }

  .container {
    margin-bottom: 80px;
  }

  header img {
    max-width: 70%;
  }
}
